<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <label for="gtin">gtin: </label>
  <input id="gtin" type="text" formControlName="gtin" />
  <span
    *ngFor="let message of getControlMessages(controls.gtin)"
    class="validation-message"
  >
    {{ message }}
  </span>

  <label for="quantity">quantity: </label>
  <input id="quantity" type="number" formControlName="quantity" />
  <span
    *ngFor="let message of getControlMessages(controls.quantity)"
    class="validation-message"
  >
    {{ message }}
  </span>

  <label for="templateId">templateId: </label>
  <input id="templateId" type="text" formControlName="templateId" />
  <span
    *ngFor="let message of getControlMessages(controls.templateId)"
    class="validation-message"
  >
    {{ message }}
  </span>

  <label for="serialNumberType">serialNumberType: </label>
  <input id="serialNumberType" type="text" formControlName="serialNumberType" />
  <span
    *ngFor="let message of getControlMessages(controls.serialNumberType)"
    class="validation-message"
  >
    {{ message }}
  </span>

  <div formArrayName="serialNumbers">
    <h4>Serial numbers</h4>

    <div *ngFor="let number of serialNumbers.controls; let i = index">
      <!-- The repeated alias template -->
      <label for="number-{{ i }}">serialNumber {{ i + 1 }} : </label>
      <input id="number-{{ i }}" type="text" [formControlName]="i" />
      <button type="button" (click)="removeSerialNumber(i)">-</button>
    </div>
    <button type="button" (click)="addSerialNumber()">
      + Add serial number
    </button>
  </div>
</form>
